/* 1. Define the font face */
@font-face {
  font-family: "CustomTriangleFont";
  src: url("./font/01.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "CustomTriangleFont", sans-serif;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px; 
  }
}

.animate-bg-dots {
  animation: moveBackground 5s linear infinite;
}